/* LandingPage.module.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  .landingPageContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .landingPageNavbar {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  
  .landingPageNavbar ul {
    list-style: none;
    margin: 0;
    padding: 30px 7% 30px 0;
  }
  
  .landingPageNavbar ul li {
    display: inline;
    margin-left: 18px;
    font-size: 13px;
    font-weight: bold;
  }
  
  .landingPageNavbar ul li a {
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  .landingPageNavbar ul li a:hover {
    border-bottom: 1.5px solid #f1f1f1;
  }
  
  .logo {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: #ffe;
    padding-right: 80px;
    margin-left: 100px;
   
  }
  
  .ul2Holder {
    display: inline;
    margin-left: 100px;
  }
  
  .ul2Holder .ul2 a {
    font-size: 12px;
    color: #8b939b;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .ul2Holder .ul2 a:hover {
    border-bottom: 1.5px solid #8b939b;
  }
  
  .firstContent {
    background: url('images/primeira.jpg') rgba(0, 0, 0, 0.3) no-repeat center center;
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
    min-height: 100vh; /* Garantir altura mínima */
  }
  
  .firstText {
    padding: 300px 0px 110px 110px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
  }
  
  .butt {
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: 3px solid #fff;
    border-radius: 1px;
    color: #fff;
    transition: all 0.17s ease-in-out;
  }
  
  .butt:hover {
    background: #fff;
    color: #000;
  }
  
  .secondContent {
    background: url('images/segunda.avif') rgba(0, 0, 0, 0.4) no-repeat center center;
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
    min-height: 100vh; /* Garantir altura mínima */
  }
  
  .secondText {
    font-weight: lighter;
    padding: 340px 160px 80px 0px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: right;
  }
  
  .thirdContent {
    background: #000;
    padding-top: 0;
    margin: 0;
    min-height: 100vh; /* Garantir altura mínima */
  }
  
  .thirdText {
    display: inline-block;
    padding: 0px 0px 0px 110px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    width: 30%;
    font-weight: lighter;
  }
  
  .thirdText p {
    font-size: 16px;
    font-family: Barlow, sans-serif;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .dragonDockVid {
    display: inline-block;
    margin: 60px 50px 60px 50px;
    margin-left: 250px;
  }
  
  .fourthContent {
    background: url('images/terceira.avif') rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
    min-height: 100vh; /* Garantir altura mínima */
  }
  
  .fourthText {
    padding: 180px 160px 80px 0px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: lighter;
  }
  
  .fourthText p {
    font-size: 16px;
    font-family: Barlow, sans-serif;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .foot {
    display: flex;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    margin-left: 0%;
    background-color: #8b939b;
  }
  
  .foot li {
    text-align: center;
    margin-left: 2%;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .author {
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .author a {
    text-decoration: none;
    color: #ff939b;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #bbb;
    transition: 0.2s ease-in;
  }
  
  .extraPadding {
    visibility: hidden;
  }
  