@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa; /* Fundo cinza claro */
  font-family: 'Montserrat', sans-serif;
}

.container {
  background: #fff; /* Fundo branco */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos horizontalmente */
  gap: 20px; /* Espaçamento entre os elementos */
}

.logoSection {
  margin-top: -40px; /* Posiciona a logo mais acima */
}

.logo {
  width: 250px; /* Ajusta o tamanho da logo */
  height: auto;
}

.welcomeText {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 30px; /* Espaçamento inferior */
  margin-top: -10px;
}

.formGroup {
  margin-bottom: 15px;
  width: 100%; /* Faz os campos ocuparem toda a largura do container */
}

input {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background: #f9f9f9;
}

input:focus {
  border-color: #007bff;
}

.button {
  background: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background: #0056b3;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.registerLink {
  margin-top: 15px;
  text-align: center;
}

.registerLink a {
  color: #007bff;
  text-decoration: none;
}

.registerLink a:hover {
  text-decoration: underline;
}
