/* Estilos globais */
body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Define Arial como a fonte global */
  font-weight: bold; /* Aumenta o peso para deixar mais forte */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: 'Arial', sans-serif; /* Mantém Arial consistente para código */
  font-weight: bold; /* Deixa o código mais forte */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
